<!-- © 2025 Linus Kang. All rights reserved. -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Linus's Blog</title>
  <link rel="stylesheet" href="/src/home/styles.css" />
</head>
<style>
  .maintenance-banner {
      background-color: #796302;
      color: #fff;
      padding: 10px 20px;
      text-align: center;
      font-size: 1rem;
      font-weight: 500;
      margin-bottom: 20px;
    }

    .maintenance-banner a {
      color: #ffffff;
      text-decoration: underline;
    }

    .maintenance-banner a:hover {
      color: #333;
      text-decoration: none;
    }
</style>
<body>
  <div class="maintenance-banner">
    Please note that this site is still under development and some things might not be working.
  </div>
    <header>
      <h1 id="blog-name">Blog</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/blog/posts">Blog Posts</a>
      </nav>
    </header>
    <main>
      <div class="profile">
        <img src="/src/profile_picture" alt="Profile Picture" class="profile-pic" />
        <div class="profile-text">
          <p>Student Web Developer, Open-source contributor, and a Robotics Enthusiast. For the past year, I've been competing in First Lego League competeting with team <a style="text-decoration: underline; font-weight: 500;" href="https://bleulegs.au">Bleulegs</a>, now heading into the International Round.</p>
        </div>
      </div>
      <h2>Recent blog posts</h2>
        <div class="posts">
          <% posts.forEach(post => { %>
            <article class="post-card">
              <img src="<%= post.coverImage || '/default.jpg' %>" alt="Cover Image" class="cover" />
              <div class="content">
                <span class="badge"><%= post.badge || "General" %></span>
                <h2><a href="/post/<%= post.slug %>"><%= post.title %></a></h2>
                <p class="date"><%= post.date %></p>
                <p class="preview"><%= post.preview || 'Click to read more...' %></p>
                <a style="text-decoration: none;"  class="read-more" href="/post/<%= post.slug %>">Read more →</a>
              </div>
            </article>
          <% }); %>
        </div>
    </main>
    <footer>
      <p>Made by <a href="https://github.com/linuskangsoftware/">@linuskangsoftware</a> using a fork of <a href="https://github.com/linuskangsoftware/blogger" target="_blank">Blogger</a></p>
    </footer>
  </body>
<script>
    async function fetchBlogName() {
      try {
        const res = await fetch("/v1/name", {
          method: "GET"
        });
        const data = await res.json();
        const loginTitle = document.getElementById("blog-name");
        loginTitle.textContent = `${data.name}`;
      } catch (err) {
        console.error("Error fetching blog name:", err);
      }
    }
    fetchBlogName();
</script>
</html>