<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Linus's Blog | <%= title %></title>
  <meta name="description" content="Read more about <%= title %> on Linus's Blog" />
  <link href="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/themes/prism-tomorrow.css" rel="stylesheet" />
  <meta property="og:title" content="Linus's Blog | <%= title %>" />
  <meta property="og:description" content="Read more about <%= title %> on Linus's Blog" />
  <meta property="og:url" content="https://blog.linuskang.au" />
  <meta property="og:type" content="website" />
  <link rel="stylesheet" href="/src/post/styles.css" />
</head>
<body>
  <header>
    <h1 id="blog-name">Blog</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/blog/posts">Blog Posts</a>
    </nav>
  </header>
  <div class="container">
    <div class="post-header">
        <div class="post-title"><%= title %></div>
        <div class="tags">
            <%= tags.length > 0 ? tags.join(", ") : "None" %>
        </div>
    </div>
    <div class="metadata">
      <span class="post-date"><strong><%= author %></strong> (<%= date %>)</span>
    </div>
    <article>
      <div><%- content %></div>
    </article>
    <div class="back-link">
      <a href="/">← Back to Blog</a>
    </div>
  </div>
  <footer>
    <p>This site is powered by <a href="https://github.com/linuskangsoftware/blogger">Blogger</a></p>
    <p>© 2025 Linus Kang. All rights reserved.</p>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/prism.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/components/prism-lua.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/components/prism-python.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/components/prism-yaml.min.js"></script>
  <script>
    async function fetchBlogName() {
      try {
        const res = await fetch("/v1/name");
        const data = await res.json();
        document.getElementById("blog-name").textContent = data.name;
      } catch (err) {
        console.error("Error fetching blog name:", err);
      }
    }
    fetchBlogName();
  </script>
</body>
</html>