<!-- © 2025 Linus Kang. All rights reserved. -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Linus's Blog</title>
  <link rel="stylesheet" href="/src/home/styles.css" />
</head>
<body>
    <header>
      <h1 id="blog-name">Blog</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/blog/posts">Blog Posts</a>
      </nav>
    </header>
    <main>
      <h2>All blog posts</h2>
        <div class="posts">
          <% posts.forEach(post => { %>
            <article class="post-card">
              <img src="<%= post.coverImage || '/default.jpg' %>" alt="Cover Image" class="cover" />
              <div class="content">
                <span class="badge"><%= post.badge || "General" %></span>
                <h2><a href="/post/<%= post.slug %>"><%= post.title %></a></h2>
                <p class="date"><%= post.date %></p>
                <p class="preview"><%= post.preview || 'Click to read more...' %></p>
                <a style="text-decoration: none;" class="read-more" href="/post/<%= post.slug %>">Read more →</a>
              </div>
            </article>
          <% }); %>
        </div>
    </main>
    <footer>
      <p>Made by <a href="https://github.com/linuskangsoftware/">@linuskangsoftware</a> using a fork of <a href="https://github.com/linuskangsoftware/blogger" target="_blank">Blogger</a></p>
    </footer>
  </body>
<script>
    async function fetchBlogName() {
      try {
        const res = await fetch("/v1/name", {
          method: "GET"
        });
        const data = await res.json();
        const loginTitle = document.getElementById("blog-name");
        loginTitle.textContent = `${data.name}`;
      } catch (err) {
        console.error("Error fetching blog name:", err);
      }
    }
    fetchBlogName();
</script>
</html>